* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Lato", sans-serif;
}

.container {
    padding: 30px;
    
}

.section-one {
    background-color: rgb(3, 101, 139);
    color: rgb(255, 255, 255);
    padding: 20px;
    font-size: 30px;
    border-radius: 20px;
   
}

.section-one__contact {

    border-radius: 15px;
    font-size: 20px;
    color: rgb(0, 80, 112);
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    padding-left: 8px;
    padding-right: 10px;
    padding-bottom: 2px;
    font-weight: bold;

    display: inline-block;
}

.section-one__name {
    font-size: 65px;
}

.section-one__role {
    font-weight: bold;
}

.section-two,
.section-three,
.section-four,
.section-five {
    margin-top: 20px;
    color: #003c6b;
}

.section-two__disc,
.section-three__disc,
.section-four__disc,
.section-five__disc {
    margin-top: 10px;
}
.section-five{
    background-color: rgb(0, 59, 107);
    color: aliceblue;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
    
}
.section-five__title a{
    color: aliceblue;
}
.section-three li,.section-four li{
    list-style: none;

}
.section-three{
    background-color: #003c6b;
    color: aliceblue;
    display:inline-block;
    padding: 20px;
    border-radius: 10px;
    height: 250px;
    vertical-align: top; 
}
.section-four{
    background-color: #003c6b;
    color: aliceblue;
    display:inline-block;
    padding: 20px;
    border-radius: 10px;
    height: 250px;  
    vertical-align: top; 
}

.contact-form{
    margin: 10px;
    color: #003c6b;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit{
    margin: 5px;
}
.contact-form__input{
    padding: 10px;
    border: none;
    border-bottom: solid black 1px;
}
.contact-form__textarea{
    padding: 10px;
    border: solid black 1px;

}

.contact-form__submit{
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 10px;
    border: solid #003c6b 1px;
}
.contact-form__submit:hover{
    background-color: #003c6b;
    color: white;
    
}






